python-dotenv 
streamlit
st-gsheets-connection
streamlit-drawable-canvas
langchain-core
langchain-openai
langchain-teddynote
langchain-community
langchain-text-splitters
faiss-cpu
pdfplumber
IPython
pandasql
plotly
PyPDF2
